
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Protest+Riot&display=swap" rel="stylesheet">

<link rel="stylesheet" href="styles/normalize.css">
<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/larger.css">

<link rel="icon" href="paw-orange-icon.ico">

<meta property="og:title" content="Adoptable Pet">
<meta property="og:type" content="website">
<meta property="og:image" content="https://placekitten.com/200/300">
<meta property="og:url" content="https://runyun.github.io/adoptable-pet/">

<meta name="author" content="Yun Liu">